.container-details{
    display: grid;
    grid-template-columns: 4fr 8fr;
}
@media  screen and (max-width: 1199px) {
    .container-details{
        grid-template-columns: 1fr 1fr;
    }
}
@media  screen and (max-width: 991px) {
    .container-details{
        grid-template-columns: 1fr;
    }
}
.details-info{
    padding: 2rem;
} 
.details-desc {
    padding: 2rem;
    overflow: hidden;
    background: #eeeeee;
    margin: 40px;
    border: 1px solid var(--title-color);
    border-radius: 10px;
}
.details-desc p{
    line-height: 25px;
    color: var(--text-color);
}
.details-info .profile-card__name{
    margin: 0;
}
.details-info .profile-card__button{
    margin-top: 30px;
}
.details-info .profile-card__txt{
    display: flex;
    justify-content: start;
    align-items: center;
}
.profile-card-details {
    width: 100%;
    margin: auto;
    box-shadow: -2px 5px 13px 0px rgba(13, 28, 39, 0.4);
    background: #fff;
    border-radius: 12px;
    max-width: 1200px;
    position: relative;
}
.details-info .profile-card__name {
    margin-bottom: 20px;
}
@media  screen and (max-width: 991px) {
    .details-desc{
        font-size: 1rem;
    }
    .wrapper {
        height: auto;
    }
    .details-info .profile-card__txt,
    .details-info .profile-card__name{
        text-align: center;
        justify-content: center;
    }
    .details-info .profile-card__button{
        text-align: center;
        margin: auto;
        margin-top: 30px;
    }
}
@media  screen and (max-width: 575px) {
    .details-info .profile-card__txt,
    .details-info .profile-card__name{
        text-align: start;
        justify-content: start;
        height: 30px;
        flex-wrap: wrap;
    }
    .details-info .profile-card__button{
        text-align: start;
        margin-left: 0;
    }
    .details-info{
        overflow: hidden;
    }
    .details-info .profile-card__img {
        top: 46px;
    }
    .details-desc {
        padding: 1rem;
        margin: 20px;
    }
    .details-info {
        padding: 1rem;
    }
}