/* Estilos do modal */
.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Fundo escuro semi-transparente */
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 100;
}
.modal-content {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    max-width: 500px;
    width: 100%;
    position: absolute;
}
.modal-content p{
    font-size: 18px;
    font-weight: 500;
    color: var(--text-color);
    margin: 15px 0;
}
.container-buttons-modal{
    display: flex;
    padding: 0 4rem;
    justify-content: center;
    align-items: center;
}
.close {
    position: absolute;
    top: -8px;
    right: 6px;
    cursor: pointer;
    font-size: 40px;
    font-weight: bold;
}
@media screen and (max-width: 575px){
    .modal-content {
        overflow: hidden;
        width: 80%;
    }
    .container-buttons-modal{
        flex-direction: column;
    }
    .container-buttons-modal button{
        margin: 0;
    }
}
